{
  "items": [
    {
      "name": "A Test Item",
      "url": "https://www.amazon.com/gp/product/B00004Y8DQ/ref=ppx_yo_dt_b_asin_title_o01_s00?ie=UTF8&psc=1"
    },
    {
      "name": "Super Mario - Target",
      "url": "https://www.target.com/p/super-mario-odyssey-nintendo-switch/-/A-52161284"
    },
    {
      "name": "Madden - Walmart",
      "url": "https://www.walmart.com/ip/Madden-NFL-20-Electronic-Arts-Xbox-One-014633738391/804457083"
    },
    {
      "name": "Animal Crossing",
      "url": "https://www.bestbuy.com/site/animal-crossing-new-horizons-nintendo-switch/5723316.p?skuId=5723316"
    },
  ]
}
